# node and npm
/node_modules
/client/node_modules
/server/node_modules
npm-debug.log

# IntelliJ
*.iml
/.idea

#Sublime
*.sublime-project
*.sublime-workspace

#local configs
local-home.json
local-work.json

# build artifacts
bundle.js

#sensitive data
/server/finance.json